.detailbanner{
  width:100%;
}
.bannerimage{
  width: 100%;
  height: 190px;
}
.ewmimage{
  width: 103px;
  height: 103px;
}
.ewm-margin{
  margin-top: 35px;
}
.getTitle{
  margin:40px auto 20px;
  width: 122px;
  height: 29px;
}
.getTitle image {
    width: 100%;
    height: 100%;
}
.gettext{
  text-align: left;
  font-size: 15px;
  line-height: 24px;
  color: #334561;
}
.info-list {
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: flex;
    color: #334561;
    text-align: center;
}
.list-cell {
    flex: 1;
}
.list-cell .key-wrapper {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #d4923a;
    border-radius: 50%;
    font-size: 12px;
    margin-top: 9px;
    margin-right: 5px;
}
.key-wrapper .key-self {
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50%;
    background: #d4923a;
    margin: 0 auto;
    margin-top: 3px;
    color: #fff;
}
.btn-next {
    margin-top: 50px;
    margin-bottom: 20px;
}
